.find-us h2 {
    font-size: 3rem;
} 

.find-us .schedule {
  display: grid;
}

* {
  box-sizing: border-box;
}

.schedule-wrapper {
    counter-reset: info-row;
    display: block;
    margin: 0 auto;
    width: 100%;
    min-width: 200px;
    max-width: 1200px;
    text-align: center;
}

.row {
  display: flex;
  border-bottom: 6px dotted #0080c5;
}

.row:first-child {
    border: 0 none;
  }

.row > div {
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  line-height: 1.5rem;
  min-height: 3rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-family: "Tajawal", sans-serif;
  font-size: calc(1rem + 0.5vmin);
}

.row:first-child > div {
  font-weight: 900;
  font-size: calc(1.2rem + 0.5vmin);
  border: 0 none;
  margin: 0 0.5rem;
}

.row:first-child > div:first-child {
    background: none;
    border: 0 none;
}

.row > div:first-child {
  display: none;
}

.bullet-truck {
  flex-grow: 0.5;
}
.location {
  flex-grow: 3;
  flex-direction: column;
}
.location a {
    font-size: .8rem;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 0 0.4rem;
}
.time {
  flex-grow: 2;
}


@media only screen and (min-width: 400px) {
    

    .row > div:first-child {
        background: url(/static/media/trailer-silo.ce14a2ef.png) no-repeat;
        background-size: contain;
        background-position: right;
        border: 0 none;
        min-width: 45px;
        display: block;
    }
}


@media only screen and (min-width: 500px) {
    .schedule-wrapper {
        width: calc(100% - 4rem);
    }
}