.find-us h2 {
    font-size: 3rem;
} 

.find-us .schedule {
  display: grid;
}

* {
  box-sizing: border-box;
}

.schedule-wrapper {
    counter-reset: info-row;
    display: block;
    margin: 0 auto;
    width: 100%;
    min-width: 200px;
    max-width: 1200px;
    text-align: center;
}

.row {
  display: flex;
  border-bottom: 6px dotted #0080c5;
}

.row:first-child {
    border: 0 none;
  }

.row > div {
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  line-height: 1.5rem;
  min-height: 3rem;
  display: flex;
  justify-content: flex-start;
  font-family: "Tajawal", sans-serif;
  font-size: calc(1rem + .2vw);
  text-align: left;
  flex: 2;
}

.row:first-child > div {
  font-weight: 900;
  font-size: calc(1.2rem + 0.5vmin);
  border: 0 none;
  margin: 0;
}

.row:first-child > div:first-child {
    background: none;
    border: 0 none;
    display: none;
    align-items: center;
    align-content: center;
    height: 100%;
}

.row > div:first-child {
  display: none;
  flex: 1;
  width: 55px;
  max-width: 55px;
}
.row > div:first-child img {
  max-height: 2rem;
}

.location {
  flex-grow: 3;
  flex-direction: column;
}
.location a {
    font-size: .8rem;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 0 0.4rem;
}

.date-time {
  display: flex;
  flex-direction: column;
}
.time {
  flex-grow: 2;
}


@media only screen and (min-width: 500px) {
    .schedule-wrapper {
        width: calc(100% - 4rem);
    }
    .row:first-child > div {
      margin: 0 1rem 0 0;
    }
    
}
@media only screen and (min-width: 600px) {
    .row > div:first-child {
        background: url(/static/media/trailer-silo.ce14a2ef.png) no-repeat;
        background-size: contain;
        background-position: right;
        border: 0 none;
        width: 55px;
        min-width: 55px;
        display: block;
    }
    .row:first-child > div:first-child {
      display: flex;
    }
}
