.container {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  width: 20vw;
  height: 20vw;
  -webkit-transition: 1s;
  transition: 1s;
  background-size: cover!important;
  flex-grow: .3;
}
.image.expanded {
  width: 78vmin;
  height: 78vmin;
  flex-grow: 3;
  background-size: contain !important;
  background-position: center center !important;
  border: 0 none;
}
.image.contracted {
  width: 10vw;
  height: 10vw;
  flex-grow: 3;
}
