

.menu h1 {
    font-family: "Pacifico", cursive;
    font-size: 3.5rem;
    text-align: center;
    color: #0080c7;
    color: rgb(189, 33, 48, 1);
    line-height: 4rem;
    text-shadow: 3px 3px 3px rgba(189, 33, 48, 0.35);
}

.menu-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}

.menu-item {
    position: relative;
    padding: 0 6rem 2rem;
    text-align: left;
    overflow: hidden;
    transition: opacity 1.25s ease;
    flex: 0 0 25%;
    justify-content: center;
    font-family: "Tajawal", sans-serif;
}

.menu-item-box {
    border: 11px dotted #0080C5;
}

.menu-img {
    width: 20%;
    float: left;
    padding: 1rem;
}

.menu-item h3 {
    color: #BC3C49;
    font-size: calc(1rem + 1vmin);
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 900;
}

.menu-item p {
    padding-bottom: 1rem;
    font-size: calc(0.7rem + 1vmin);
}