.menu h1 {
  font-family: "Pacifico", cursive;
  font-size: 3.5rem;
  text-align: center;
  color: #0080c7;
  color: rgb(189, 33, 48, 1);
  line-height: 4rem;
  text-shadow: 3px 3px 3px rgba(189, 33, 48, 0.35);
}

.menu-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

.menu-item {
  position: relative;
  padding: 0 1.5rem 2.5rem;
  text-align: left;
  overflow: hidden;
  transition: opacity 1.25s ease;
  flex: 0 0 100%;
  justify-content: center;
  font-family: "Tajawal", sans-serif;
  min-width: 270px;
}

.menu-item-box {
  border: 11px dotted #0080c5;
  min-width: 200px;
  padding: 0.5rem;
}

.menu-img {
  width: 20%;
  float: left;
  padding: 1rem;
}

.menu-item h3 {
  color: var(--birdie-red);
  font-size: 1.5rem;
  margin: auto auto 0 -2rem;
  padding-bottom: 0;
  font-weight: 900;
  display: inline-block;
  color: #333;
}

.menu-item p.desc {
  font-size: 1.5rem;
  display: inline-block;
  font-weight: 900;
  margin-left: 1rem;
  color: #444;
}

.menu-item ul {
  list-style: none;
  display: flex;
  width: 100%;
  margin: 0 auto 1rem;
  padding: 0 1rem;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 600;
}

.menu-item li {
  margin: .5rem .5rem .25rem;
  color: #444;
  font-size: 1.3rem;
}

@media only screen and (min-width: 408px) {
  .menu-item {
    padding: 0 1.5rem 2.5rem;
  }
  .menu-item-box {
    border: 11px dotted #0080c5;
    min-width: 170px;
  }
}

@media only screen and (min-width: 500px) {
  .menu-item {
    padding: 0 2.5rem 2rem;
    min-width: 350px;
  }
  .menu-item-box {
    min-width: 300px;
  }
  .menu-item {
    flex: 0 0 80%;
  }
}
